@import '../../styles/_colors';

$chat-title-shadow: darken($accent-color, 75.29);

#chat-title {
    display: grid;
    grid: 36px / 1fr 26px 15px 36px;
    align-content: center;
    align-items: center;
    grid-area: chat-title;
    background: $accent-color;
    color: $primary-color;
    font-weight: bold;
    font-size: 2.0rem;
    border-radius: 0 10px 0 0;
    box-shadow: 0 1px 3px -1px $chat-title-shadow;
    padding: 0 20px;
    z-index: 1;
}
.modall {
    position:absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: white;
    width:30%;
    margin:auto;
    text-align:center;
    padding:35px 40px;
    border:0px
  }

  .overlayy {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(165, 161, 161,0.5);
    z-index: 9999;
  }
  .heading {
    color: #0048AA;
    border-bottom: 1px solid #0048AA;
    padding-bottom: 10px;
    font-style: italic;
    text-align: left;
    margin-bottom: 10px;}